<article class="page item-page">
  <header class="page-header">
    <h3>Add Some Items</h3>
  </header>
  <main class="page-main">
    <form class="item-form" #itemForm="ngForm" name="itemForm" (ngSubmit)="onSubmit()">
      <section class="item-form__section">
        <label class="item-form__label" for="item-name">
          Item Name:
        </label>
        <input class="item-form__input" type="text" name="ItemName" required [(ngModel)]="item.itemName">
      </section>
      <section class="item-form__section">
        <label class="item-form__label" for="buy-price">
          Buying Price:
        </label>
        <input class="item-form__input" type="number" name="BuyPrice" required [(ngModel)]="item.buyPrice">
      </section>
      <section class="item-form__section">
        <label class="item-form__label" for="sell-price">
          Selling Price:
        </label>
        <input class="item-form__input" type="number" name="SellPrice" required [(ngModel)]="item.sellPrice">
      </section>
      <section class="item-form__section">
        <label class="item-form__label" for="highest-price">
          Highest Market Price:
        </label>
        <input class="item-form__input" type="number" name="HighestMarketPrice" required
          [(ngModel)]="item.highestMarketPrice">
      </section>
      <section class="item-form__section">
        <button [disabled]="!itemForm.form.valid" type="submit">Add</button>
      </section>
    </form>
    <ul>
      <li *ngFor="let control of itemForm.form.controls | keyvalue">
        {{control.key}}: <span *ngFor="let error of control.value.errors | keyvalue">
          {{ error.key ? error.key : 'valid' }}</span>
      </li>
    </ul>
  </main>
</article>